<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="section-title">Resume</h3>
            <div class="section-title-border"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>Fusce convallis vulputate diam, eu dictum lacus imperdiet nec. Cras ac viverra nunc, ac dictum arcu. In pulvinar semper odio eu auctor. Cras sed mauris ut dolor porta feugiat.</p>
            <!--
            <ul class="v-timeline mt50">
                            <li>
                                <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-paper-plane-o"></i> Work experience</h3>
                            </li>
                            <li>
                                <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s" datetime="2013-04-15 13:15"><span>2013 - present</span></time>
                                <div class="v-icon" data-toggle="collapse" data-target="#toggle-1"><i class="fa fa-minus"></i></div>
                                <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0s" >
                                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-1">Donec pulvinar elementum</a></h4>
                                    <p id="toggle-1" class="collapse in">Sed pretium aliquet libero non luctus. Mauris quis ex at velit pharetra aliquet at at velit. Curabitur nec facilisis nisl.</p>
                                </div>
                            </li>
                            <li>
                                <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.0s" datetime="2013-04-16 21:30"><span>2011 - 2013</span></time>
                                <div class="v-icon" data-toggle="collapse" data-target="#toggle-2"><i class="fa fa-plus"></i></div>
                                <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.3s">
                                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-2">Sed ultricies</a></h4>
                                    <p id="toggle-2" class="collapse">Arcu non pellentesque ultrices, dui risus feugiat enim, sed iaculis nunc mauris ac justo. Maecenas viverra eu felis a consectetur.</p>
                                </div>
                            </li>
                            <li>
                                <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.4s" datetime="2013-04-17"><span>2010 - 2011</span></time>
                                <div class="v-icon" data-toggle="collapse" data-target="#toggle-3"><i class="fa fa-plus"></i></div>
                                <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.5s">
                                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-3">Bibendum bibendum ultrices</a></h4>
                                    <p id="toggle-3" class="collapse">Curabitur massa magna, lacinia vel condimentum eu, suscipit nec odio.</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="v-timeline mt50">
                            <li>
                                <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-graduation-cap"></i> Education</h3>
                            </li>
                            <li>
                                <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.2s" datetime="2013-04-18"><span>2008 - 2010</span></time>
                                <div class="v-icon" data-toggle="collapse" data-target="#toggle-4"><i class="fa fa-plus"></i></div>
                                <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.3s">
                                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-4">Morbi euismod convallis</a></h4>
                                    <p id="toggle-4" class="collapse">Ut erat turpis, vestibulum eget dictum eu, gravida non sapien.  Morbi nunc lectus, rhoncus quis nisi nec, volutpat hendrerit arcu.</p>
                                </div>
                            </li>
                            <li>
                                <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.4s" datetime="2013-04-18"><span>2005 - 2008</span></time>
                                <div class="v-icon" data-toggle="collapse" data-target="#toggle-5"><i class="fa fa-minus"></i></div>
                                <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.5s">
                                    <h4><a href="#" data-toggle="collapse" data-target="#toggle-5">Cum sociis natoque</a></h4>
                                    <p id="toggle-5" class="collapse in">Fusce mollis sem vitae massa rhoncus consectetur vitae nec odio. Aliquam sagittis commodo eros sit amet fringilla. In at dapibus massa, nec semper mi.</p>
                                </div>
                            </li>
                        </ul>
            
            
            <!--angular-->
            <ul class="v-timeline mt50" data-ng-repeat="partName in timeline.parts" data-ng-init="outerInd = $index">
                <li>
                    <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa {{timeline.def[partName].icon}}"></i> {{partName}}</h3>
                </li>
                <li data-ng-repeat="part in timeline.data[partName]" data-ng-init="">
                    <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.1s" datetime=""><span> {{part.years}}</span></time>
                    <div class="v-icon" data-toggle="collapse" data-target="#toggle-{{outerInd * 5 + $index}}"><i class="fa fa-minus"></i></div>
                    <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.{{1 + $index*2}}s">
                        <h4><a href="#" data-toggle="collapse" data-target="#toggle-{{outerInd * 5 + $index}}">{{part.title}}</a></h4>
                        <div id="toggle-{{outerInd * 5 + $index}}" class="collapse in">
                            <p data-ng-repeat="content in part.contents">{{content}}</p>
                        </div>
                        
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>